<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registeration </title>
  <link rel="stylesheet" href="style.css" />
  <script src="/validation.js" type="text/javascript"></script>

</head>
<body>
  <div class="loginform">
  <form name="frm" action="/savereg" method="POST" onsubmit="return submitForm()">

    <input type="text" name="username" id="name" placeholder="Enter Name" oninput="validationName(this.value)"><br><br>
    <span id="nmsg"></span>

    <input type="text" name="useremail" id="email" placeholder="Enter Email" oninput="validateEmail(this.value)"><br><br>
    <span id="emsg"></span>

    <input type="text" name="password" id="password" placeholder="Enter Password" oninput="validatePassword(this.value)"><br><br>
    <span id="pmsg"></span>

    <input type="text" name="contact" id="contact" placeholder="Enter Contact Number" oninput="validateContact(this.value)"><br><br>
    <span id="cmsg"></span>

     <input type="text" name="type" value="User" readonly /><br><br>

    <input type="submit" value="Register" />
    <br><br>
    <p id="h"></p>
    <p class="toggle-link">Already have an account? <a href="/signin">Login</a></p>
  </form>
  </div>
</body>
</html>
